body {
    background-color: #1f1f1f; /* 다크 배경색 */
    color: #fff; /* 흰색 텍스트 */
    font-family: 'Pretendard-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 수직 방향으로 아이템 배치 */
    align-items: center; /* 가운데 정렬 */
    min-height: 100vh;
    overflow-x: hidden; /* 좌우 스크롤 숨기기 */
}
.header {
    background-color: #121212; /* 헤더 배경색 (더 어두운 색) */
    text-align: center;
    padding: 20px 0; /* 상하 여백 20px */
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
    position: fixed;
    top: 0;
    font-size: 1.5em; /* 폰트 크기 조정 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.icon-button-container {
    position: absolute;
    left: 10px;
}

.icon-button {
    background: none;
    border: none;
    color: #f0f0f0;
    font-size: 28px; /* 아이콘 크기 증가 */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header h1 {
    color: #f0f0f0; /* 헤더 텍스트 색 */
    font-size: 36px; /* 헤더 폰트 크기 증가 */
    margin: 0; /* 텍스트와 상단바 간의 여백 제거 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 그리드 아이템을 한 줄에 표시 */
    gap: 20px; /* 그리드 간격 */
    padding: 20px; /* 그리드 내부 여백 */
    max-width: 1000px; /* 그리드 최대 너비 */
    margin-top: 80px; /* 헤더와의 여백 설정 */
    width: 100%; /* 그리드 컨테이너 너비 설정 */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

.grid-item {
    background-color: #333; /* 박스 배경색 */
    position: relative; /* 내부 컨텐츠를 정렬하기 위해 상대 위치 설정 */
    overflow: hidden; /* 내부 컨텐츠가 넘칠 경우 숨김 */
    cursor: pointer; /* 클릭 가능한 커서로 설정 */
    border-radius: 8px; /* 모서리 둥글게 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 박스 그림자 추가 */
    transition: transform 0.3s, box-shadow 0.3s; /* 애니메이션 추가 */
}

.grid-item:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 강화 */
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 정사각형 박스에 맞게 잘리도록 설정 */
    object-position: center; /* 이미지를 중앙에 위치시킴 */
    border-radius: 8px; /* 이미지도 둥근 모서리 설정 */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* 모바일에서 한 줄에 하나의 그리드 아이템 표시 */
        gap: 10px; /* 모바일에서 그리드 간격 축소 */
        padding: 10px; /* 모바일에서 그리드 내부 여백 축소 */
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 28px; /* 모바일에서 폰트 크기 조정 */
    }
    .audio-player {
        width: 90%;
    }
    h2 {
        font-size: 20px; /* 모바일에서 글씨 크기 조정 */
    }
}
